<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>First Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/noscript.css" />
		<style>
		body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        h1.major {
            color: black; /* Change the title color to black */
        }
        h2 {
            color: black; /* Change the title color to black */
        }
		</style>
	</head>
	<body class="is-preload">
	
		<div th:replace="header.html"></div>
		
		<div id="wrapper">	
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">Protein Cigarette Company</h1><br>
					<section>
						<h2>미래 사업을 선도하는 기업</h2>
						<hr>
						<p><span class="image left"><img src="/images/company.jpg" alt="" style="max-width: 350px; max-height: 300px; width: auto; height: auto;" /></span>
						2024년 창립 이래로, 생명공학 분야에서 독보적인 기술력을 자랑하는 Protein Cigarette은 독도의 해저에 위치한 사옥을 기반으로 혁신적인 아이템을 개발하는 선도적인 기업으로 자리매김하고 있습니다. 우리 회사는 인간에게 필수적인 성분인 단백질을 중심으로 한 프로틴 담배와 프로틴 패치를 주력 상품으로 삼고 있으며, 독도라는 특별한 위치를 고려하여 해저에서 얻을 수 있는 순수한 물을 활용하여 제작한 다양한 제품군은 Protein Cigarette만의 독창적이고 차별화된 아이템으로 평가받고 있습니다.<br>
						Protein Cigarette의 기원은 종로 3가에 위치한 한 학원에서 모인 인원들로부터 시작되었습니다. 이들은 다양한 배경을 가진 인재들로, 서로의 창의적인 아이디어를 주고받으며 협력의 정신을 바탕으로 사업을 점진적으로 확장해 나갔습니다. 이러한 협업은 우리가 상상 속에서만 존재하던 다양한 아이템에 도전하는 데 큰 도움이 되었으며, 지금은 그 꿈을 현실로 만들기 위해 활발한 연구와 개발을 진행하고 있습니다.<br>
						우리의 목표는 단순히 상업적인 성공에 그치는 것이 아닙니다. Protein Cigarette은 생명공학의 최전선에서 인류의 건강과 웰빙을 위한 지속 가능한 솔루션을 제시하고자 합니다. 우리는 독도의 청정 자연 자원을 통해 생산된 제품이 소비자에게 진정한 가치를 제공할 수 있도록 끊임없이 노력하고 있습니다. 특히, 우리는 독도의 해양 생태계를 보존하며 지속 가능한 방식으로 자원을 활용하기 위해 다양한 연구를 진행하고 있습니다. 이러한 접근은 단순한 제품 개발을 넘어, 생태적 균형을 유지하며 인류의 건강에 기여할 수 있는 혁신적인 방법을 모색하는 데 중점을 두고 있습니다.</p>
						<br>
						<p><span class="image right"><img src="/images/company2.jpg" alt="" style="max-width: 350px; max-height: 300px; width: auto; height: auto;" /></span>
						Protein Cigarette의 연구팀은 단백질의 효능과 효과를 극대화하기 위한 다양한 실험을 진행하고 있으며, 특히 해양 생물에서 얻을 수 있는 독특한 성분들을 활용하여 제품의 품질을 한층 높이고 있습니다. 우리는 고객들이 보다 건강하고 행복한 삶을 영위할 수 있도록 기여하기 위해 노력하고 있으며, 소비자들의 요구와 기대를 초과하는 혁신적인 제품을 선보일 것을 약속합니다.
						또한, 우리는 사회적 책임을 다하기 위해 지속 가능한 경영을 실천하고 있습니다. 기업의 성장과 함께 지역 사회와의 협력도 중요하게 여기며, 다양한 사회 공헌 활동을 통해 지역 사회의 발전에도 기여하고자 합니다. Protein Cigarette은 고객과의 신뢰를 바탕으로, 더 나은 세상을 위한 지속 가능한 제품을 선보이기 위해 끊임없이 도전하고 성장할 것입니다.<br>
						결론적으로, Protein Cigarette은 단순한 기업을 넘어, 인류의 건강과 환경을 생각하는 지속 가능한 미래를 만들어가는 여정을 이어가고 있습니다. 우리의 목표는 혁신적이고 효과적인 생명공학 솔루션을 통해 소비자들에게 긍정적인 영향을 미치고, 모든 사람이 건강하고 행복한 삶을 누릴 수 있도록 기여하는 것입니다. 앞으로도 우리는 끊임없이 새로운 가능성을 탐구하며, 생명공학 분야에서의 선도적인 역할을 계속해 나갈 것입니다.</p>
					</section>
					
					<br><br>
					
					<section>
					<h2>기본정보</h2>
					<hr>
					<div class="table-wrapper">
						<table>
							<tbody>
								<tr>
									<td>회사명</td>
									<td>Protein Cigarette Company / PCC</td>
								</tr>
								<tr>
									<td>팀장</td>
									<td>이&nbsp;상&nbsp;록</td>
								</tr>
								<tr>
									<td>설립일</td>
									<td>2024년 07월 01일</td>
								</tr>
								<tr>
									<td>본사주소</td>
									<td>경상북도 울릉군 울릉읍 독도 옆 북동쪽 해저 506m</td>
								</tr>
								<tr>
									<td>주요사업</td>
									<td>프로틴 관련 식품 개발, 제작 및 판매</td>
								</tr>
								<tr>
									<td>자본금</td>
									<td>316,000원</td>
								</tr>
								<tr>
									<td>인력현황</td>
									<td>5명</td>
								</tr>
							</tbody>
						</table>
					</div>
					</section>
					
					<br><br>
					
					<section>
						<h2>팀원 소개</h2>
						<hr>
						<div class="image-container text-center mt-3" style="display: flex; justify-content: center;">
							<div class="image-container">
            					<img src="/images/team.jpg" alt="팀장" style="max-width: 300px; max-height: 300px; width: auto; height: auto; border-radius: 5px 5px 5px 5px;" />
            					<br>
                					<h3>팀장</h3>
                					<h2>이 상 록</h2>
                					<p>팀의 비전을 이끄는<br> 리더로, 10일 이상의<br> 생명공학 경력을 바탕으로<br> 혁신적인 프로젝트를<br> 성공으로 이끌고 있습니다.</p>
        					</div>
        				</div>
        				<br><br>
        				<div class="image-container text-center mt-3" style="display: flex; justify-content: center;">
        					<div class="image-container">
            					<img src="/images/team1.jpg" alt="팀원1" style="max-width: 250px; max-height: 250px; width: auto; height: auto; border-radius: 5px 5px 5px 5px;" />
            					<br>
                					<h2>권 기 원</h2>
                					<p>데이터 분석 전문가로,<br> 정확한 인사이트 제공을<br> 통해 팀의 전략적 의사<br> 결정을 지원합니다.</p>
        					</div>
        					&emsp;&emsp;&emsp;&emsp;
        					<div class="image-container">
            					<img src="/images/team2.jpg" alt="팀원2" style="max-width: 250px; max-height: 250px; width: auto; height: auto; border-radius: 5px 5px 5px 5px;" />
            					<br>
                					<h2>최 유 찬</h2>
                					<p>연구개발 부서의<br> 핵심 멤버로, 실험 및<br> 분석을 통해 혁신적인<br> 제품 개발에 기여하고<br> 있습니다.</p>
        					</div>
        					&emsp;&emsp;&emsp;&emsp;
        					<div class="image-container">
            					<img src="/images/team3.jpg" alt="팀원3" style="max-width: 250px; max-height: 250px; width: auto; height: auto; border-radius: 5px 5px 5px 5px;" />
            					<br>
                					<h2>김 주 영</h2>
                					<p>품질 관리 전문가로,<br> 제품의 품질을 철저히<br> 검증하여 고객의<br> 기대를 초과하는<br> 결과를 추구합니다.</p>
        					</div>
        					&emsp;&emsp;&emsp;&emsp;
        					<div class="image-container">
            					<img src="/images/team4.jpg" alt="팀원4" style="max-width: 250px; max-height: 250px; width: auto; height: auto; border-radius: 5px 5px 5px 5px;" />
            					<br>
                					<h2>김 영 원</h2>
                					<p>마케팅 및 커뮤니케이션<br> 담당자로, 효과적인<br> 캠페인을 기획하여 브랜드<br> 가치를 높이고 있습니다.</p>
        					</div>
        				</div>
					</section>
					
				</div>
			</section>		
		</div>
		
		<br>
							
		<div th:replace="footer.html"></div>
		
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		
	</body>
</html>