<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ProTeinCigarette</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

			<div id="wrapper">
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Protein Cigarette</h1>
							<p>Company</p>
							<ul class="actions">
								<li><a href="/index/first" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>What is PCC?</h2>
							<p>Protein Cigarette Company 의 줄임말로<br>
							퍼블릭 클라우드 DevSecOps 에 대하여<br>
							공부하기 위해
							2024년도에 창립된 팀이다.</p>
							<div class="split style1">
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span id="address-details">경상북도 울릉군 울릉읍<br />
											독도 옆 북동쪽 해저 506m<br />
											대한민국</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#" onclick="copyEmail(); return false;">pcc2024@protein.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>02-1234-5678</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://x.com/?lang=ko" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="https://www.facebook.com/?locale=ko_KR" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/evergreen3579/PCC" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://kr.linkedin.com/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>
			</div>

			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; ProteinCigarette. All rights reserved.</li>
						<li><a href="/index/contact">문의하기</a></li>
            			<li>Email : pcc2024@protein.com</li>
					</ul>
				</div>
			</footer>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
        		function copyEmail() {
            	const email = "pcc2024@protein.com";
            	navigator.clipboard.writeText(email);
            	alert("이메일이 복사되었습니다: " + email);
        		}
    		</script>
	</body>
</html>